@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: local('Rubik'), url(/fonts/Rubik/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: local('Rubik'), url(/fonts/Rubik/Rubik-Bold.ttf) format('truetype');
}

html {
  font-family: 'Rubik';
}
